/Code/Data_Generator/Generated
/Code/Data_Generator/__pycache__
/Code/imagenes
/Code/imagenes_2
/Code/preprocessing/__pycache__
/Code/resultados
/Code/images
/Code/results
/Code/Model/images
Code/rename.py
Code/Model/dataset-ocr.zip
